<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <style>
  .bodybg{
      background-color: #1F2833;
  }
  .example {
      background-color: lightgrey;
      width: 700px;
      border: 15px solid black;
      padding: 10px;
      margin: auto;
      text-align: center;
  }
  </style>

  <div class="example">
  <body class="bodybg">
    {{> header}}

    <p>Welcome to the Feedback page</p>


    {{> footer}}
  </body>
</div>
</html>
