<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <style>
  .button {
    background-color: #45A29E;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .but1 {
    background-color: #45A29E;
    color: black;
    border: 2px solid #45A29E;
  }
  .but1:hover {
    background-color: white;
    color: white;
  }
  .bottom{
      background-color: #45A29E;
      padding-top: 5px;
      padding-bottom: 5px;
  }
  .top{
      background-color: #45A29E;
      padding-top: 5px;
  }
  .bodybg{
      background-color: #1F2833;
  }
  .example {
      background-color: lightgrey;
      width: 700px;
      border: 15px solid black;
      padding: 10px;
      margin: auto;
      text-align: center;
  }
  </style>

<body class="bodybg">
  <div class="example">
    <div class="top">
      <h1>{{pageTitle}}</h1>
      <h2><p>Welcome to View Feedbacks Page</p></h2> <hr>
    </div>

    <br>

    <div>
      <h3>Below is the sorted data</h3>
    </div>

    <br>

    <div class="bottom">
         <p>
           <button class="but1"> <a href="/"> Home </a> </button>
           <button class="but1"> <a href="/about"> About </a> </button>
         </p>
    </div>

  </div>
</body>
</html>
