<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Some Website</title>
</head>
<style>
/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.button {
  background-color: #45A29E;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
}
.but1 {
  background-color: #45A29E;
  color: black;
  border: 2px solid #45A29E;
  border-radius: 10px;
}
.but1:hover {
  background-color: white;
  color: white;
}
.bottom{
  background-color: #45A29E;
  padding-top: 5px;
  padding-bottom: 5px;
}
.top{
  background-color: #45A29E;
  padding-top: 5px;
}
.bodybg{
  background-color: #1F2833;
}
.example {
  background-color: lightgrey;
  width: 700px;
  border: 15px solid black;
  padding: 10px;
  margin: auto;
  text-align: center;
  border-radius: 15px;
}
</style>

<body class="bodybg">
  <div class="example">
    <div class="top">
      <h1>{{pageTitle}}</h1>
      <h2><p>Welcome to View Feedbacks Page</p></h2> <hr>
    </div>

    <br>

    <div>
      <h3>Pick preferred format to view data</h3>

      <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Formats</button>
        <div id="myDropdown" class="dropdown-content">
          <a href="#">ACS</a>
          <a href="#">Harvard</a>
          <a href="#">DOI</a>
        </div>
      </div>

      <button onclick="fetch()">Fetch Data</button>

    </div>

    <br>

    <div class="bottom">
      <p>
        <button class="but1"> <a href="/"> Home </a> </button>
        <button class="but1"> <a href="/about"> About </a> </button>
      </p>
    </div>

  </div>
  <script>
  var http = require('http');
  var qs = require('querystring');
  var MongoClient = require('mongodb').MongoClient;
  var url ="mongodb://localhost:27017/iit-k";
  var client = new MongoClient(url, { useNewUrlParser: true });

  function fetch(req,res){
    client.connect(err => {
      if(err) throw err;
      const collection = client.db("iit-k").collection("records");
      collection.find({}).toArray(function(err,result){
        if(err) throw err;
        res.writeHead(200,{"Content-Type":"text/html"});
        res.end(JSON.stringify(result));
        console.log("Data found");
        client.close();
      });
    });
  });

  /* When the user clicks on the button,
  toggle between hiding and showing the dropdown content */
  function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
  }

  // Close the dropdown menu if the user clicks outside of it
  window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }
  </script>
</body>
</html>
