<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <style>
  .button {
    background-color: #45A29E;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
  }
  .but1 {
    background-color: #45A29E;
    color: black;
    border: 2px solid #45A29E;
    border-radius: 10px;
  }
  .but1:hover {
    background-color: white;
    color: white;
  }
  .but2 {
    background-color: white;
    color: black;
    border: 2px solid #45A29E;
    text-decoration: none;
    border-radius: 10px;
  }
  .but2:hover {
    background-color: #45A29E;
    color: white;
  }
  .but3 {
    background-color: white;
    color: black;
    border: 2px solid #3498DB;
    padding: 5px;
    text-decoration: none;
    border-radius: 10px;
  }
  .but3:hover {
    background-color: #3498DB;
    color: white;
  }
  .bodybg{
      background-color: #1F2833;
  }
  .top{
      background-color: #45A29E;
      padding-top: 5px;
  }
  .bottom{
      background-color: #45A29E;
      padding-top: 5px;
      padding-bottom: 5px;
  }
  .row {
        display: flex;
  }
  .column {
        flex: 50%;
  }
  .example {
      background-color: lightgrey;
      width: 700px;
      border: 15px solid black;
      padding: 10px;
      margin: auto;
      text-align: center;
      border-radius: 15px;
  }
  </style>
  <body class="bodybg">
    <div class="example">
      <div class="top">
        <h1>{{pageTitle}}</h1>
        <h2><p>Welcome to Home Page</p></h2> <hr>
      </div>
      <br>
      <form>
        <p>Upload text file: <input id='filechoice' type='file' value='upload'/></p>
      </form>

      <script>
          document.getElementById("filechoice").addEventListener('change', function(){
            var fr = new FileReader();
            fr.onload = function(){
              document.getElementById("output").textContent = this.result;
            }
            fr.readAsText(this.files[0]);
          });
      </script>

      <br><hr><br>
      <p>Drag and drop the contents in the form below.</p>
      <br><hr><br>

      <div class="row">
        <div class="column">
          <h3> Contents of the text file</h3><br>
          <!-- <span id = "show_name"></span> -->
          <span id = "output"></span>
        </div>
        <div class="column">
          <h3> Fill required forms</h3><br>
          <!-- <form action='/post-feedback' method="POST"> -->
          <form method="POST">
            <p> Author of Article (First): <input id="1author" type='text' name='1author'/></p>
            <p> Author of Article (Second): <input id="2author" type='text' name='2author'/></p>
            <p> Title of Article: <input id="title" type='text' name='title'/></p>
            <p> Year of Publication : <input id="year" type='text' name='year'/></p>
            <p> Volume Num: <input id="vol" type='text' name='vol'/></p>
            <p> Issue Num: <input id="issue" type='text' name='issue'/></p>
            <p> Page Nums: <input id="page" type='text' name='page'/></p>
            <p><input id="submit" type="submit" value="Submit data" class="but2"/></p>
          </form>
        </div>
      </div>
      <br>
        <a href="/view-feedbacks" class="but3"> View Feedbacks </a>
      <hr>
      <div class="bottom">
           <p>
             <button class="but1"> <a href="/"> Home </a> </button>
             <button class="but1"> <a href="/about"> About </a> </button>
           </p>
      </div>
    </div>
  </body>
</html>
