<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <style>
    .row {
        display: flex;
      }

    .column {
        flex: 50%;
      }

    .example {
      background-color: lightgrey;
      width: 600px;
      border: 15px solid green;
      padding: 50px;
      margin: auto;
      text-align: center;
    }
  </style>

  <div class="example">
    <body>
      <center> {{> header}}
      <p>Welcome to Home page</p></center>
      <br>
      <form>
      <!-- <form onsubmit="results(); return false;"> -->
        <!-- <p>Enter your Name: <input id="name" type='text' name='name'/></p> -->
        <p>Upload text file: <input id='filechoice' type='file' value='upload'/></p>
        <!-- <p><input id="submit" type="submit" value="Submit data"/></p> -->
      </form>

      <script>
        // function results(){
        //   var name = document.getElementById('name').value;
        //   show_name.innerHTML = "Your name is: " + name;
        // }
          document.getElementById("filechoice").addEventListener('change', function(){
            var fr = new FileReader();
            fr.onload = function(){
              document.getElementById("output").textContent = this.result;
            }
            fr.readAsText(this.files[0]);
          });
      </script>

      <br>
      <hr>

      <div class="row">
        <div class="column">
          <!-- <span id = "show_name"></span> -->
          <span id = "output"></span>
        </div>
        <div class="column">
          <form>

          </form>
        </div>
      </div>

      <center> {{> footer}} </center>
    </body>
  </div>
</html>
