<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <style>
    div {
      background-color: lightgrey;
      width: 450px;
      border: 15px solid green;
      padding: 50px;
      margin: 20px;
      text-align: center;
    }
  </style>
  <div>
    <body>
      <center> {{> header}}
      <p>Welcome to Home page</p></center>
      <br>
      <form action="/next" onsubmit = "return results();" method = "post">
        <p>Enter your Name: <input id="name" type='text' name='name'></p>
        <p>Upload text file: <input id='filechoice' type='file' value='upload'></p>
        <p><input id="submit" type="submit" value="Submit data"></p>
      </form>
      <br>

      <center> {{> footer}} </center>
    </body>
  </div>
</html>
